.search-input {
  outline: none;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 400px;
  padding-left: 10px;
  margin-bottom: 30px;

  &:focus {
    border-color: #a9333a;
  }
}
