.App {
  margin: 3rem;
  text-align: center;

  .title-website {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;

    .icon-title {
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      margin-right: 0.7rem;
    }
  }

  .searchBar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .container-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 3rem;

    .content-movies {
      display: flex;
      flex-direction: column;
      max-width: 230px;
      margin-bottom: 1rem;

      .movie-title {
        margin-top: 10px;
        font-weight: bold;
        font-size: 1rem;
      }

      img {
        border-radius: 10px;

        &:hover {
          outline: 3px solid rgba(238, 235, 221, 0.8);
        }
      }

      &:hover {
        cursor: pointer;

        .movie-title {
          color: #a9333a;
        }
      }
    }
  }
}
